To Combine the Different Excel Files into a Single DataFrame for easier analysis in later stages

In [1]:
# Importing the necessary libraries
import pandas as pd
import os

### Identifying the Files

In [2]:
# Setting the Path to the Excel Files
path = "/Users/revanth/Downloads/Messidor/"

In [3]:
# View all the files in the directory
files = os.listdir(path)
files

['Annotation_Base33.xls',
 'Annotation_Base32.xls',
 'Annotation_Base24.xls',
 'Annotation_Base31.xls',
 'Annotation_Base21.xls',
 '.DS_Store',
 'Annotation_Base34.xls',
 'Annotation_Base22.xls',
 'Annotation_Base23.xls',
 'Base31',
 'Base11.zip',
 'Base12.zip',
 'Base13.zip',
 'Base14.zip',
 'Base24.zip',
 'Base31.zip',
 'Base33.zip',
 'Base32.zip',
 'Base11',
 'Base22.zip',
 'Base23.zip',
 'Base21',
 'Base21.zip',
 'Base34.zip',
 'Annotation_Base12.xls',
 'Annotation_Base13.xls',
 'Annotation_Base11.xls',
 'Annotation_Base14.xls']

In [4]:
# Keeping only the Excel Files
files = [f for f in files if f.startswith("Annotation") and f.endswith(".xls")]

# verify that we have 12 files
assert len(files) == 12

### Reading Files

In [5]:
# We will now read the Excel Files
dfs = []
for f in files:
    data = pd.read_excel(path + f)
    dfs.append(data)

# Concatenate all the DataFrames
df = pd.concat(dfs, ignore_index=True)

In [6]:
df.reset_index(drop=True, inplace=True)
df.sample(5)

,Image name,Ophthalmologic department,Retinopathy grade,Risk of macular edema
645,20060410_40381_0200_PP.tif,CHU de St Etienne,0,0
476,20060407_42308_0200_PP.tif,CHU de St Etienne,0,0
983,20060523_49191_0100_PP.tif,Service Ophtalmologie Lariboisière,0,0
1039,20051020_57844_0100_PP.tif,Service Ophtalmologie Lariboisière,3,1
482,20060407_43618_0200_PP.tif,CHU de St Etienne,0,0

## Sanity Checks

In [7]:
# We should have 1200 rows
assert df.shape[0] == 1200

In [8]:
# Ophthlmologic Department Should have 3 unique values
assert df["Ophthalmologic department"].nunique() == 3

In [9]:
# Image name should have no duplicates
assert df["Image name"].nunique() == df.shape[0]

### Modifications

In [10]:
# renaming the columns
df.columns = ["Image_ID", "Department", "Retinopathy_Grade", "Risk_of_Macular_Edema"]

In [11]:
# adding column to specify the data source
df["Data_Source"] = "Messidor"

### Saving

In [12]:
# saving df as parquet file
df.to_parquet("../../02_Data/Extra/messidor_mapping.parquet", index=False)